<!-- Form -->
<h1>Form</h1>


<form (ngSubmit)="handleRegister()" #registerForm="ngForm" class="form">
  <section  *ngIf="!register.hasSucceed">
  <h2>Register</h2>
  <div class="input-group input--name">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" [(ngModel)]="register.name" required placeholder="Your name" #nameInputForm="ngModel">
    <p class="error-message" [class.invalid]="nameInputForm.invalid">Name field invalid</p>
  </div>
  <div class="input-group input--email">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" [(ngModel)]="register.email" required placeholder="Your email" #emailInputForm="ngModel">
    <p class="error-message" [class.invalid]="emailInputForm.invalid">Email field invalid</p>
  </div>
  <div class="input-group input--password">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" [(ngModel)]="register.password" required placeholder="Your password" #passwordInputForm="ngModel">
    <p class="error-message" [class.invalid]="passwordInputForm.invalid">Password field invalid</p>
  </div>
  <section class="buttons-container">
    <button [disabled]="registerForm.invalid" type="submit"
    [ngClass]="{
      'enabled': registerForm.valid,
      'disabled': registerForm.invalid
    }">Register</button>
    <button type="button">Reset Form</button>
  </section>

  </section>
  <p *ngIf="register.hasSucceed">Registration completed!!</p>

</form>

<!-- Class & Styles -->
<h1>Class and styles</h1>
<input type="text" required [(ngModel)]="person.name" #nameInput="ngModel">
<p class="message-error" [class.invalid]="nameInput.invalid">El campo es requerido</p>

<input type="number" max="100" required [(ngModel)]="person.age" #nameInput2="ngModel">
<p class="message-error" [style.display]="nameInput2.invalid ? 'inline' : 'none'">Numero max es 100</p>


<!-- Array of objects (PokemonList) -->
<div class="pokemon__card-container">
  <article class="pokemon__card pokemon--{{pokemon.type}}" *ngFor="let pokemon of pokemonList">
    <p class="pokemon__name ">{{pokemon.name}}</p>
    <img [src]="pokemon.image" [alt]="pokemon.name" width="60px">
  </article>
</div>

<!-- Control structures -->
<!-- *ngFor -->
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newPokemon" >
<button (click)="addPokemon()">Add pokemon</button>
<button (click)="deletePokemon()">Delete last pokemon</button>
<button (click)="deleteXpokemon()">Delete pokemon #:
</button>
<input type="number" [(ngModel)]="idToDeletePokemon">
<ul>
  <li *ngIf="pokemons.length === 0">Aún no tienes pokemons</li>
  <li *ngFor="let pokemon of pokemons; index as i" >{{i+1}} {{ pokemon }}
    <span (click)="deletePokemonInList(i)" class="button button--delete"></span>
  </li>

</ul>

<!-- *ngIf -->
<h1>*ngIf</h1>
<input type="number" min="0" max="100" required [(ngModel)]="counterValue" #counterValueInput2="ngModel">
<p>Valid:{{ counterValueInput2.valid }}</p>
<p *ngIf="counterValue % 2 === 0 && counterValueInput2.valid; else elseBlock">Valor par valido</p>

<ng-template #elseBlock>
  <p>Valor impar</p>
</ng-template>
<!-- Data Binding ( two ways ) / NgModel-->
<!-- Event Binding -->
<button (click)="toggleButton()">Toggle Button</button>
<!-- Counter -->
<input type="number" min="0" max="100" required [(ngModel)]="counterValue" #counterValueInput="ngModel">
<p>Valid:{{ counterValueInput.valid }}</p>
<button (click)="addAmount()">Add 1</button>
<button (click)="substractAmount()">Substract 1</button>
<p>Counter: {{ counter }}</p>

<!-- Property binding -->
<h3>Property binding</h3>
<button [disabled]="btnDisabled">Button</button>
<input type="text" [value]="person.name">
<progress max="80" [value]="person.age"></progress>
<img [src]="person.avatar" alt="person pic">
<p>{{person}}</p>


<h1>Hello world in Angular</h1>
<h2>Hello there {{name}}</h2>
